{# {% import "partials/quotes.twig" as quotes %} #}
{{ set(this, 'title', article.title) }}
{{ this.registerLinkTag({rel:'amphtml', href:_AppHelper.getServerUrl(false)~'?amp=1'}) }}

{# {% set blogInfo = _Blog.getBlog() %} #}
{% set networkData = _Network.getNetworkData() %}

{# 

{% set articleImg = false %}
{% if article.media|length > 0 %}
    {% set articleImg = _Media.getMediaUrl(article.media[0],1094, 515, {'crop': 'fill', 'gravity': 'auto'} ) %}
{% endif %}

{% set publishDate = _AppHelper.getDefaultTimezoneDateTime(article.publishDate, 'F, Y') %}

{% set relatedArticles = _Article.getPopularArticles({ blogId: article.blog.id, limit: 3, excludeArticleIds : [article.id] }) %}
{% set recentArticles = _Article.getRecentArticles({ limit: 5, excludeArticleIds : [article.id] }) %}

{% set testCount = 0 %} #}


<main id="main" class="" role="main">
    <div class="boxes boxes--2">
        <div class="boxes__item boxes__item@md boxes__item@sm boxes__item--1"></div>
        <div class="boxes__item boxes__item@md boxes__item@sm boxes__item--2"></div>
    </div>




    <div class="banner banner--article">
        <img class="banner__img" src="{{networkData.templatePath}}/static/images/leaderboard-banner.jpg">
        <div class="boxes boxes--1 boxes--1@sm">
            <div class="boxes__item boxes__item@md boxes__item@sm boxes__item--1 boxes__item--1@sm"></div>
            <div class="boxes__item boxes__item@md boxes__item@sm boxes__item--2"></div>
        </div>
    </div>


    <div class="container leaderboard">
        
        <div class="row">
            <div class="col-md-offset-1 col-sm-12">
                <h1 class="leaderboard__header">LEADERBOARD</h1>
            </div>
        </div>


        <div class="row">
            <div class="col-md-offset-1 col-sm-3">
                <h1 class="leaderboard__sub-header">TOP 10</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-offset-1 col-md-3">
                <ul class="leaderboard-list leaderboard-list--left">
                    <li class="leaderboard-list__item leaderboard-list__item--left">Matt Lancashire</li>
                    <li class="leaderboard-list__item leaderboard-list__item--left">Hamish Bowman</li>
                    <li class="leaderboard-list__item leaderboard-list__item--left">Simon Caulfield</li>
                    <li class="leaderboard-list__item leaderboard-list__item--left">Christine Rudolph</li>
                    <li class="leaderboard-list__item leaderboard-list__item--left">Sarah Hackett</li>
                    <li class="leaderboard-list__item leaderboard-list__item--left">Damon Warat</li>
                    <li class="leaderboard-list__item leaderboard-list__item--left">Dwight Ferguson</li>
                    <li class="leaderboard-list__item leaderboard-list__item--left">Luke Croft</li>
                    <li class="leaderboard-list__item leaderboard-list__item--left">Damon Lewis</li>
                    <li class="leaderboard-list__item leaderboard-list__item--left">Scott Darwon</li>
                </ul>
            </div>
            <div class="col-md-offset-1 col-md-3">
                <ul class="leaderboard-list">
                    <li class="leaderboard-list__item">Brandon Wortley</li>
                    <li class="leaderboard-list__item">Ben White</li>
                    <li class="leaderboard-list__item">Nicholas Given</li>
                    <li class="leaderboard-list__item">Jez McNamara</li>
                    <li class="leaderboard-list__item">Alexander Shean</li>
                    <li class="leaderboard-list__item">Phillip Harrigan</li>
                    <li class="leaderboard-list__item">Tony O'Doherty</li>
                    <li class="leaderboard-list__item">Courtney Maguire</li>
                    <li class="leaderboard-list__item">Joseph Lordi</li>
                    <li class="leaderboard-list__item">Andrew Goodall</li>
                    <li class="leaderboard-list__item">Tom Lyne</li>
                    <li class="leaderboard-list__item">Alison Hewett</li>
                    <li class="leaderboard-list__item">Barry Quinn</li>
                    <li class="leaderboard-list__item">Deborah Evans</li>
                    <li class="leaderboard-list__item">Oliver J. Jonker</li>
                    <li class="leaderboard-list__item">Mathew Abboud</li>
                    <li class="leaderboard-list__item">Michael Spork</li>
                    <li class="leaderboard-list__item">Rosemary Ahearn</li>
                    <li class="leaderboard-list__item">Graeme Sharp</li>
                    <li class="leaderboard-list__item">Patrick Dixon</li>
                </ul>

            </div>
            <div class="col-md-3">
                <ul class="leaderboard-list">
                    <li class="leaderboard-list__item">Jack Dixon</li>
                    <li class="leaderboard-list__item">Tyson Clarke</li>
                    <li class="leaderboard-list__item">Drew Davies</li>
                    <li class="leaderboard-list__item">Josh Brown</li>
                    <li class="leaderboard-list__item">Jason Adcock</li>
                    <li class="leaderboard-list__item">Annette Richards</li>
                    <li class="leaderboard-list__item">Steven Gow</li>
                    <li class="leaderboard-list__item">Ian Cuneo</li>
                    <li class="leaderboard-list__item">Ann-karyn Fraser</li>
                    <li class="leaderboard-list__item">Dean Yesberg</li>
                    <li class="leaderboard-list__item">Tristan Rowland</li>
                    <li class="leaderboard-list__item">Sam Mayes</li>
                    <li class="leaderboard-list__item">Kylie Loof</li>
                    <li class="leaderboard-list__item">Frank Lombardi</li>
                    <li class="leaderboard-list__item">Lauren Phair</li>
                    <li class="leaderboard-list__item">Sharon King</li>
                    <li class="leaderboard-list__item">Sonya Treloar</li>
                    <li class="leaderboard-list__item">Jay Mcvicker</li>
                    <li class="leaderboard-list__item">Jennifer Lockley</li>
                    <li class="leaderboard-list__item">Michelle McLeod</li>
                </ul>

            </div>
        </div>


    </div>
</main><!--site-main-->

