@font-face {
   font-family: 'Guardian Sans'; 
   src: url('../fonts/GUARDIANSANS-LIGHT.OTF');
   font-weight: 200;
   font-style: normal;
} 

@font-face {
   font-family: 'Guardian Sans'; 
   src: url('../fonts/GUARDIANSANS-REGULARIT.OTF');
   font-weight: 400;
   font-style: normal;
} 

@font-face {
   font-family: 'Guardian Sans'; 
   src: url('../fonts/GUARDIANSANS-MEDIUM.OTF');
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: 'Guardian Sans'; 
   src: url('../fonts/GUARDIANSANS-SEMIBOLD.OTF');
   font-weight: 600;
   font-style: normal;
} 