.content {
	color:#fff;
	position: relative;
    padding-top: 310px;
   	text-align: center;
	z-index:1;
}

.content\@sm {
    padding-top: 370px;
}


.content--article {
    padding-top: 440px;
}
.content--article\@sm {
	@media #{$mobile} {
    	padding-top: 300px;
    }
}
.content--contact {
    padding-top: 440px;
}
.content--contact\@sm {
	@media #{$mobile} {
    	padding-top: 290px;
    }
}
.content__headline {
	color:#fff;
	font-family:$font-family-serif;
	font-size:rem(80);
	text-transform:uppercase;
	line-height:1.2;
}
.content__headline\@sm {
	@media #{$mobile} {
		font-size:rem(38);
		line-height: 0.96;
		letter-spacing: 0.8px;
		width: 300px;
		margin: 0 auto;
	}
}

.content__headline--article {
	font-size:rem(40);
	width:740px;
	margin:auto;
	margin-bottom: 10px;
}
.content__headline--article\@sm {
	@media #{$mobile} {
		width:auto;
		text-align:left;
		font-size:rem(18);
		margin-bottom:5px;
	}
}
.content__headline--contact {
	font-size:rem(40);
	margin:auto;
	margin-bottom: 50px;
}
.content__headline--contact\@sm {
	@media #{$mobile} {
		text-align:left;
		font-size:rem(18);
		margin-bottom:25px;
	}
}

.content__tagline {
	width:796px;
	line-height: 1.15;
	letter-spacing: 2.6px;
	margin: auto;
	font-weight:$thin;
	font-size:rem(26);
	text-transform:uppercase;
}
.content__tagline\@md {
	@media #{$tablet} {
		width:auto;
	}
}
.content__tagline\@sm {
	@media #{$mobile} {
		margin-top: 20px;
		width:286px;
		line-height: 1.43;
		letter-spacing: 0.8px;
		font-size:rem(15);
	}
}

.content__sub-head {
	font-family:$font-family-serif;
	font-size: rem(36);
	margin-top: 410px;
}
.content__sub-head\@sm {
	@media #{$mobile} {
		font-size: rem(22);
		margin-top: 90px;
	}
}


