.banner {
	width:100%;
	color:white;
	// height:1114px;
	position:absolute;
	overflow-x:hidden;
	@include gradientafter();
}
.banner\@sm {
	@media #{$media-mobile} {
		height:355px;
	}
}

.banner--article{
	height:543px;
	overflow: unset;
}

.banner__img {
	height:100%;
	width:100%;
	object-fit:cover;
}