.leaderboard {
	counter-reset: leaderboard-counter;
	color:#fff;
	padding-bottom:100px;
	position: relative;
    padding-top: 445px;
	z-index:1;
}
.leaderboard__header {
	font-size: rem(40);
	font-family: $font-family-serif;
	margin-bottom: 45px;
}

.leaderboard__sub-header {
	font-size: rem(21);
	font-weight:700;
	font-family: $base-font-family;

}

.leaderboard-explain {
	margin-bottom:40px;;
}

.leaderboard-explain__text {
	font-size: rem(15);
	color:color(textgrey);
	margin-bottom:5px;
}

.leaderboard-list {

}

.leaderboard-list__item {
	list-style:none;
	font-size: rem(16);
	color:color(textgrey);
	line-height: 1.5;
	letter-spacing: 1px;
	margin-bottom:8px;

	&:before {
	    content: counter(leaderboard-counter);
	    counter-increment: leaderboard-counter;
	    color: rgb(178,178,178);
	    font-size:rem(20);
	    font-weight:600;
	    margin-right:18px;
	    position: relative;
	    top: 2px;
	}
}


.leaderboard-list--left {

}

.leaderboard-list__item--left {
	color:white;
	padding-bottom:20px;
	margin-bottom:26px;
	font-weight:600;
	border-bottom: 1px solid rgba(237,237,237,.5);
	&:before {
		color:white;
	}
}

.leaderboard-list__item--gold {
	color: color(gold);
		&:before {
			color: color(gold);
		}
}
